.banderole {
    padding: 1px;

    @include mobile-only {
        display: none;
    }
}

.texte-banderole {
    margin-left: 20px;
}

.img-logo {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.onglet {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 25px;
    border-right: 1px solid;
}

a {
    text-decoration: none;
    color: black;
}